<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40504650061-3jn7jg973oec9imlv4qgsugdbse9rq3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40504650061-3jn7jg973oec9imlv4qgsugdbse9rq3u</string>
	<key>API_KEY</key>
	<string>AIzaSyBotIIn2GO_lwmn3l6RaagseN6EyW7BOZA</string>
	<key>GCM_SENDER_ID</key>
	<string>40504650061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList</string>
	<key>PROJECT_ID</key>
	<string>authentication-todo-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-todo-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40504650061:ios:dbae94d365cf7a3caa2f04</string>
</dict>
</plist>